{% extends "registration/base_registration.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Log in:</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <!--<label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Enter your username">

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter your password">-->

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Log In">

        {% if form.errors %}
            <p>Invalid username OR password</p>
        {% endif %}
    </form>

{% endblock %}