/* define variables */
:root {
    --main-bg-color: #1F4690;
    --secondary-bg-color: #231955;
    --btn-bg-color: #E8AA42;
    --btn-border-color: #d49339; /* #c48731 */
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
}

.navbar-btn {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color) !important;

    color: black;
}


#navigation-bar {
    background-color: var(--secondary-bg-color);
}

#main-container {
    background-color: var(--main-bg-color);
    min-height: calc(100vh - 106px);
}


.event-card {
    background-color: white;
    border: 4px solid var(--secondary-bg-color);
    border-radius: 5px;

    color: black;
    padding: 0.5rem;
}

.red-border {
    border-color: red;
}

.event-card-content:hover {
    background-color: rgb(240, 240, 240);
}

.event-detail {
    background-color: white;
    border: 4px solid var(--secondary-bg-color);
    border-radius: 5px;

    color: black;
    padding: 0.5rem;
    width: calc(50vw);
    height: calc(50vh - 106px);
    margin: auto;
}

.content-container {
    background-color: white;
    border: 4px solid var(--secondary-bg-color);
    border-radius: 5px;

    color: var(--secondary-bg-color);
}

button.cleared {
    border:0;
    background:transparent;
}

.icon {
    font-size: 2.5rem;
}

.icon.xmark {
    color: red;
}

.icon.xmark:hover {
    color: #d60909;
}

.link {
    color: gray;
}

.active-link {
    border-bottom: solid white 3px;
    color: white;
}

.done-event {
    border-color: limegreen;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}