{% extends "reminders_app/base.html" %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}
    {% include "reminders_app/modals/remove_event_modal.html" %}


    <div class="container event-card">
        <div class="col-12 text-end py-2">
            {% include "reminders_app/buttons/back_button.html" %}
            {% include "reminders_app/buttons/remove_button.html" %}
            {% include "reminders_app/buttons/edit_button.html" %}
            {% include "reminders_app/buttons/done_button.html" %}
        </div>
        <div class="col-12 text-center">
            <h1>{{ event.title }}</h1>
        </div>
        <div class="col-12">
            <h2>{{ event.date }},
                {% if event.time %}
                    {{ event.time }}
                {% endif %}
            </h2>
        </div>

        <div class="col-12">
            {{ event.description }}
        </div>
    </div>
{% endblock %}